@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Revalia&display=swap');

html, body{
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Revalia', cursive;
}
body h1{
  font-family: 'Open Sans Condensed', sans-serif;
}
@media screen and (min-width: 574px){
  footer{
    position: absolute;
    bottom: 0;
  }
}